@model MyTender.Models.TenderViewModels.TenderViewModel

@{
    ViewData["Title"] = "Tender";
    ViewData["TenderId"] = Model.Tender.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsMyTender = Model.Me.Id == Model.Tender.Author.Id;
}

<h2>@Model.Tender.Text</h2>
<h3>Reward = @Model.Tender.Price</h3>
<hr />
<h2>PRIZES:</h2>
<span>
    @foreach (var p in Model.Prizes)
    {
        <img style="max-height:30px;max-width:30px;" src="/@p.PictureUrl" />
    }
</span>
<hr />

@if (IsMyTender)
{
    <a asp-action="AssignPrizeTender" asp-route-id="@Model.Tender.Id">Add Prize</a>
}

@if (User.IsInRole("admin"))
{
    <h5><a asp-action="DeleteTender" asp-route-id="@Model.Tender.Id">DELETE</a></h5>
}

@{
    foreach (var r in Model.Responces.OrderByDescending(x=>x.likes))
    {
        string col = r.IsWinner?"gold":"ghostwhite";
        
        <div class="well" style="background-color:@col">
            
            @{
                if (r.IsWinner)
                {
                    <h1 style="color:red">WINNER</h1>
                    Html.RenderPartial("../Profiles/ProfilePartial.cshtml", r.Author);
                }                
            }
            
            @if (IsMyTender && Model.Tender.IsActive)
            {
                <p>
                    <a asp-action="Close" asp-route-id="@r.Id">Make winner</a>
                    <a asp-action="AssignPrizeResponce" asp-route-id="@r.Id">Prize</a>
                </p>
            }
            <span>
                @foreach(var p in r.prizes)
                {
                    <img style="max-height:30px;max-width:30px;" src="/@p.PictureUrl" />
                }
            </span>
            <p>@r.Text</p>             
            <p>
                @r.likes |
                @if (r.likedByMe)
                {
                    <a style="color:green;" asp-action="ToggleLike" asp-route-id="@r.Id"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                }
                else
                {
                    <a  asp-action="ToggleLike" asp-route-id="@r.Id"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                }
            </p>
            @if (User.IsInRole("admin"))
            {
                <h5><a asp-action="DeleteTenderResponce" asp-route-id="@r.Id">DELETE</a></h5>
            }
        </div>
         
    }
}

@if (Model.Tender.IsActive)
{
    @Html.Partial("AddResponce.cshtml", new TenderResponce(), ViewData)
}
else
{
    <h1 style="color:red">CLOSED</h1>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

